@import "../../common/vars";
@import "../../common/mixins";

.input {
  font-family: $font-family;
  font-size: $font-input-size;
  font-weight: $font-light-weight;
  color: $font-input-color;
  padding: 16px;
  letter-spacing: $letter-spacing;
  border: 0 solid $border-input-color;
  border-bottom-width: 1px;
  outline: none;
}