@import "../../common/vars";
@import "../../common/mixins";

.professions-landing {
  &__background {
    min-height: 100%;
    width: 100%
  }
  &__title {
    font-family: $font-family;
    font-size: $font-title-size;
    color: $font-red;
    font-weight: $font-light-weight;
    letter-spacing: $letter-spacing;
    padding-top: 254px;
    text-align: center;
    @include for-phone-only {
      padding: 32px 32px 0;
      font-size: $font-title-mobile-size;
    }
    @include for-big-desktop-up {
      padding-top: 282px;
    }
  }
  &__profession-list {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 715px;
    @include for-phone-only {
      margin-top: 12px;
    }
  }
  &__profession-button {
    color: $font-dark-red;
    padding: 16px 30px;
    font-family: $font-family;
    font-size: $font-regular-size;
    font-weight: $font-regular-weight;
    border-radius: $border-radius;
    border: 1px solid $border-color-gray;
    margin: 12px;
    cursor: pointer;
    transition: 0.2s ease-in;
    @include for-phone-only {
      margin-top: 12px;
      font-size: $font-regular-mobile-size;
    }
    @include for-desktop-up {
      &:hover {
        border-color: $border-color-gray-hover;
      }
    }
    &_chosen {
      color: #ffffff;
      background-color: $background-purple;
    }
  }

  &__try-button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__try-button {
    border: 2px solid $border-color-red;
    border-radius: $border-radius;
    padding: 16px 30px;
    color: $font-red;
    font-family: $font-family;
    font-size: $font-regular-size;
    font-weight: $font-regular-weight;
    cursor: pointer;
    background-color: $background-white;
  }

  &__step {
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_active {
      opacity: 1;
    }
  }

}
