@import "../../common/vars";
@import "../../common/mixins";

.professions-landing {
  &__layout {
    min-height: 100%;
    width: 100%;
  }
  &__title {
    margin-top: 254px;
    @include for-phone-only {
      margin: 32px 32px 0;
    }
    @include for-big-desktop-up {
      margin-top: 282px;
    }
  }
  &__profession-list {
    margin-top: 36px;
    max-width: 715px;
    @include for-phone-only {
      margin-top: 12px;
    }
  }

  &__try-button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__step {
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_active {
      opacity: 1;
    }
  }

  &__email-text {
    margin-top: 254px;
    margin-bottom: 48px;
    @include for-phone-only {
      margin: 32px 32px 48px 32px;
    }
    @include for-big-desktop-up {
      margin-top: 282px;
    }
  }

  &__email-title {
    max-width: 600px;
  }

  &__email-subtitle {
    margin-top: 24px;
    max-width: 600px;
  }

  &__email-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 536px;
    @include for-phone-only {
      flex-direction: column;
      width: calc(100% - 64px);
    }
  }

  &__save-email-button {
    margin-left: 32px;
    @include for-phone-only {
      margin-left: 0;
    }
  }

  &__email-input {
    flex-grow: 1;
    @include for-phone-only {
      margin-bottom: 24px;
    }
  }
}
