@import "../../common/vars";
@import "../../common/mixins";

.professions-landing {
  &__layout {
    min-height: 100%;
    width: 100%;
    background: url('images/colibri.png') calc(100% + 25px) -25px no-repeat,
    url('./images/dotes-left.svg') no-repeat,
    url('./images/dotes-bottom.svg') 0 calc(100% + 50px) no-repeat;

    @include for-phone-only {
      background: url('./images/dotes-left-mobile.svg') no-repeat,
      url('./images/dotes-bottom-mobile.svg') 0 100% no-repeat;
    }
  }
  &__title {
    margin-top: 180px;
    @include for-phone-only {
      margin: 32px 32px 16px;
    }
    @include for-big-desktop-up {
      margin-top: 180px;
    }
  }

  &__title-break {
    @include for-desktop-up {
      display: none;
    }
  }

  &__profession-list {
    margin-top: 36px;
    max-width: 715px;
    @include for-phone-only {
      margin-top: 12px;
      max-width: 305px;
    }
  }

  &__try-button-row {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    @include for-phone-only {
      margin-top: 24px;
    }
  }

  &__step {
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_active {
      opacity: 1;
    }
  }

  &__email-text {
    margin-top: 180px;
    margin-bottom: 48px;
    @include for-phone-only {
      margin: 40px 24px 16px 24px;
    }
    @include for-big-desktop-up {
      margin-top: 180px;
    }
  }

  &__email-title {
    max-width: 600px;
  }

  &__email-subtitle {
    margin-top: 16px;
    max-width: 600px;
  }

  &__email-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 536px;
    @include for-phone-only {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__save-email-button {
    margin-left: 32px;
    @include for-phone-only {
      margin-left: 0;
    }
  }

  &__email-input {
    flex-grow: 1;
    @include for-phone-only {
      width: 260px;
      margin-bottom: 24px;
    }
  }

  &__air-balloon {
    background: url('./images/air-balloon.png');
    height: 242px;
    width: 177px;
    margin-bottom: 40px;
    display: none;
    @include for-phone-only {
      display: block;
      margin-top: 40px
    }
  }

  &__success-text {
    margin-top: 180px;
    @include for-phone-only {
      margin-top: 0;
      max-width: 305px;
    }
  }

  &__success-title {
    margin-bottom: 8px;
  }

  &__success-subtitle {
    margin-bottom: 24px;
  }

  &__sharing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
  }
}
